<html>
	<head>
		<title>PIDIODER LOLZOMG!</title>
		<style type="text/css">
			button {
				width: 128px;
				height: 128px;
				margin: 4px;
			}
			input {
				padding: 4px;
				margin: 4px;
			}
		</style>

		<script src="static/jquery-1.11.0.min.js" type="text/javascript"></script>
		<script src="static/colpick.js" type="text/javascript"></script>
		<link rel="stylesheet" href="static/colpick.css" type="text/css"/>
	</head>
	<body>

		<div id="wrapper">

			<div id="picker"></div>

			<script type="text/javascript">
				$(document).ready(function() {
					$('#picker').colpick({
						flat:true,
						layout:'hex',
						submit:0,
						onChange: function(hsb, hex, rgb, el, bySetColor) {
							$.ajax("/do?action=set&r="+rgb.r+"&g="+rgb.g+"&b="+rgb.b);
						}
					});
				});
			</script>
		</div>
	</body>
</html>
