<html>
<head>
    <title>go-pidioder Webserver</title>
    <style type="text/css">
		button {
			width: 128px;
			height: 128px;
        margin: 4px;
		}
           input {
               padding: 4px;
                margin: 4px;
           }
	</style>
</head>
<body>

<div id="wrapper">
	<div class="row">
		<form>
			<button value="Red" name="targetcolor">Rot</button>
			<button value="Blue" name="targetcolor">Blau</button>
			<button value="Green" name="targetcolor">Gruen</button>
			<button value="Specific Preset 1" name="targetcolor">Specific Preset 1</button>
			<button value="Specific Preset 2" name="targetcolor">Specific Preset 2</button>
			<button value="Specific Preset 3" name="targetcolor">Specific Preset 3</button>
			<button value="Brighten" name="targetcolor">Brighten</button>
			<button value="Dim" name="targetcolor">Dim</button>
			<button value="Turn off" name="targetcolor">Turn off!</button>
			<div>
				Rot: <input name="manual_r" /><br />
				Gruen: <input name="manual_g" /><br />
				Blau: <input name="manual_b" /><br />
				<button value="set" name="manual">Set</button>
			</div>
		</form>
	</div>
</div>

</body>
</html>
